@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
.fc {
  --fc-black: rgb(35, 24, 21);
  --fc-red: rgb(204, 0, 0);
  --fc-bg-blue: rgb(13, 60, 101);
  --fc-bg-red: rgb(255, 204, 188);
  --fc-bg-red-opacity: rgba(255, 204, 188, 0.3);
  --fc-shopNameButton-w: 60;
  color: var(--fc-black);
  font-family: "EB Garamond", serif;
}
.fc .fc-scrollgrid-sync-table {
  font-size: 15px;
  line-height: 1;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 10px;
  position: relative;
}
.fc .fc-toolbar-title {
  font-size: 18px;
}
.fc .fc-button-group {
  align-items: center;
}
.fc .fc-toolbar-chunk:has(.fc-toolbar-title) {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.fc .fc-button {
  height: -moz-fit-content;
  height: fit-content;
}
.fc .fc-button:not(.fc-shopNameButton-button) {
  padding: 0;
  border-radius: 0;
}
.fc .fc-button-primary,
.fc .fc-button-primary:hover {
  background-color: transparent;
  color: var(--fc-black);
  border: none;
}
.fc .fc-shopNameButton-button {
  font-size: 18px;
  font-weight: 700;
  background-color: #bebb9b;
  color: var(--fc-black);
  border-radius: 0;
  border: none;
  width: calc(var(--fc-shopNameButton-w) / 335 * 100vw);
  padding-right: 0;
  padding-left: 0;
}
.fc .fc-shopNameButton-button::first-letter {
  font-size: 24px;
}
.fc .fc-scrollgrid-sync-inner {
  display: flex;
  place-items: center;
  flex-direction: column;
}
.fc .fc-col-header-cell-cushion {
  margin-inline: auto;
  font-size: 14px;
  font-weight: 700;
  text-transform: lowercase;
}
.fc .fc-day-sun {
  color: var(--fc-red);
}
.fc .fc-day-sat {
  color: #0d3c65;
}
.fc .fc-h-event {
  background-color: transparent;
}
.fc .fc-daygrid-day:has(.temporary-closed) {
  position: relative;
}
.fc .fc-daygrid-day:has(.temporary-closed)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 55%;
  height: 55%;
  background-color: var(--fc-bg-red);
  margin: auto;
}
.fc .fc-daygrid-day.fc-day-tue:has(.substitute-holiday) {
  position: relative;
}
.fc .fc-daygrid-day.fc-day-tue:has(.substitute-holiday)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 55%;
  height: 55%;
  background-color: var(--fc-bg-red);
  margin: auto;
}
.fc .fc-day-sun.fc-daygrid-day,
.fc .fc-day-mon.fc-daygrid-day {
  position: relative;
}
.fc .fc-day-sun.fc-daygrid-day::before,
.fc .fc-day-mon.fc-daygrid-day::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 60%;
  background-color: var(--fc-bg-red);
  margin: auto;
}
.fc .fc-day:not(.fc-day-other) .fc-bg-event {
  opacity: 1;
}
.fc .fc-daygrid-day-number {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}
.fc .fc-event-title {
  opacity: 0;
  display: none;
}
.fc .fc-daygrid-day:has(.japanese-holiday) .fc-daygrid-day-number {
  color: var(--fc-red);
}
.fc .fc-daygrid-day:not(.fc-day-sun):not(.fc-day-mon):has(.japanese-holiday)::before {
  display: none;
}
.fc .fc-toolbar.fc-footer-toolbar {
  margin-top: 10px;
}
.fc .fc-toolbar-chunk:has(.fc-noteButton-button) {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.fc .fc-toolbar-chunk:has(.fc-noteButton-button)::before {
  content: "";
  display: block;
  width: 5.9701492537vw;
  height: auto;
  aspect-ratio: 1/1;
  background-color: var(--fc-bg-red);
}
.fc .fc-noteButton-button {
  position: relative;
  font-size: 10px;
  font-family: sans-serif;
}
.fc .fc-prevMonth-button,
.fc .fc-nextMonth-button,
.fc .fc-shopNameButton-button,
.fc .fc-noteButton-button {
  pointer-events: none;
  box-shadow: none;
  cursor: none;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start,
.fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin: 0;
  border: none;
}/*# sourceMappingURL=App.css.map */