// @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
// @import url("https://use.typekit.net/tuy5qfe.css");

:root {
  --fc-black: rgb(35, 24, 21);
  --fc-red: rgb(204, 0, 0);
  --fc-bg-white: #fff;
  --fc-bg-blue: rgb(13, 60, 101);
  --fc-bg-red: rgb(255, 204, 188);
  --fc-bg-red-opacity: rgba(255, 204, 188, 0.3);
  --fc-today-border-color: rgb(255 220 40);
  // --fc-shopNameButton-w: 60;
  // --fc-shopNameButton-w: 78;
  --calendar-font-family-base: "EB Garamond", serif;
  --calendar-shop-color: rgb(35, 24, 21);
  --calendar-shop-font-family: copperplate-condensed, serif;
  --calendar-shop-bgcolor: #bebb9b;
  --calendar-button-active-bgcolor: rgb(239, 239, 239);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fc {
  margin-top: 10px;
  color: var(--fc-black);
  font-family: "EB Garamond", serif;

  // table {
  //   // table-layout: fixed !important;
  // }

  .fc-view-harness {
    background-color: var(--fc-bg-white);
  }

  .fc-daygrid-body {
    &.fc-daygrid-body-unbalanced {
      height: fit-content;
    }
  }

  // .fc-col-header {
  //   width: 360px;
  // }

  .fc-scrollgrid-sync-table {
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
  }

  // .fc-toolbar {
  //   &.fc-header-toolbar {
  //     margin-bottom: 10px;
  //     position: relative;
  //   }
  // }

  // .fc-toolbar-title {
  //   font-size: 18px;
  // }

  .fc-button-group {
    align-items: center;
  }

  // .fc-toolbar-chunk:has(.fc-toolbar-title) {
  //   // margin-left: calc((var(--fc-shopNameButton-w) / 335) * 100vw * -1);
  //   margin: auto;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   width: fit-content;
  //   height: fit-content;
  // }

  .fc-button {
    height: fit-content;
  }

  // .fc-button:not(.fc-shopNameButton-button) {
  //   padding: 0;
  //   border-radius: 0;
  // }

  .fc-button-primary,
  .fc-button-primary:hover {
    background-color: transparent;
    color: var(--fc-black);
    border: none;
  }

  // .fc-shopNameButton-button {
  //   font-size: 18px;
  //   font-weight: 700;
  //   background-color: #bebb9b;
  //   color: var(--fc-black);
  //   border-radius: 0;
  //   border: none;
  //   width: calc((var(--fc-shopNameButton-w) / 335) * 100vw);
  //   // width: 78px;
  //   padding-right: 0;
  //   padding-left: 0;

  //   &::first-letter {
  //     font-size: 24px;
  //   }
  // }

  .fc-scrollgrid-sync-inner {
    display: flex;
    place-items: center;
    flex-direction: column;
  }

  //   .fc-daygrid-day-top {
  //     margin: auto;
  //   }

  .fc-col-header-cell-cushion {
    margin-inline: auto;
    font-size: 14px;
    font-weight: 700;
    text-transform: lowercase;
  }

  // .fc-day {
  // }

  .fc-day-sun {
    color: var(--fc-red);
  }

  .fc-day-sat {
    color: #0d3c65;
  }

  .fc-h-event {
    background-color: transparent;
  }

  .fc-daygrid-day {
    &:has(.temporary-event) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 55%;
        height: 55%;
        background-color: var(--fc-bg-red);
        margin: auto;
      }
    }
  }

  .fc-daygrid-day.fc-day-tue {
    &:has(.substitute-holiday) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 55%;
        height: 55%;
        background-color: var(--fc-bg-red);
        margin: auto;
      }
    }
  }

  // Cafeの定休日：月曜休 ※月曜祝日の場合は火曜休
  .c-calendar-item--cafe & {
    .fc-day-mon {
      &.fc-daygrid-day {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 60%;
          height: 60%;
          background-color: var(--fc-bg-red);
          margin: auto;
        }

        // 月曜の祝日は通常営業
        &:has(.japanese-holiday) {
          &::before {
            // display: none;
            background-color: transparent;
          }
        }

        // 月曜の祝日に臨時"休業"する場合
        &:has([data-event="Cafe臨時休業日"]) {
          &::before {
            background-color: var(--fc-bg-red);
          }
        }
      }
    }
    // .fc-day-mon
  }
  // .c-calendar-item--cafe &

  // Cafe：定休日に臨時"営業"する場合
  .c-calendar-item--cafe & {
    .fc-daygrid-day:has([data-event="Cafe臨時営業日"]) {
      &::before {
        background-color: transparent;
      }
    }
  }
  // .c-calendar-item--cafe &

  // Barの定休日：日・月曜休 ※月曜祝日の場合は火曜休
  .c-calendar-item--bar & {
    .fc-day-sun,
    .fc-day-mon {
      &.fc-daygrid-day {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 60%;
          max-height: 60%;
          aspect-ratio: 1/1;
          background-color: var(--fc-bg-red);
          margin: auto;
        }
      }
    }
    // .fc-day-sun, .fc-day-mon

    // 月曜日が祝日の場合は日曜日は通常営業
    .fc-day-sun:has(+ .fc-day-mon .japanese-holiday) {
      &::before {
        // display: none;
        background-color: transparent;
      }
    }

    // 月曜日が祝日の場合は日曜日は通常営業だが臨時"休業"する場合
    .fc-day-sun:has([data-event="Bar臨時休業日"]) {
      &::before {
        background-color: var(--fc-bg-red) !important;
      }
    }
  }
  // .c-calendar-item--bar &

  // Bar：定休日に臨時"営業"する場合
  .c-calendar-item--bar & {
    .fc-daygrid-day:has([data-event="Bar臨時営業日"]) {
      &::before {
        background-color: transparent;
      }
    }
  }
  // .c-calendar-item--bar &

  .fc-day-today {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      display: block;
      border: 1px solid var(--fc-today-border-color);
    }
  }

  .fc-day:not(.fc-day-other) .fc-bg-event {
    opacity: 1;
  }

  .fc-daygrid-day-number {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    min-width: calc((1 / 7) * 100%);
    height: fit-content;
    min-height: calc((1 / 6) * 100%);
  }

  .fc-event-title {
    opacity: 0;
    display: none;
  }

  .fc-daygrid-day:has(.japanese-holiday) {
    .fc-daygrid-day-number {
      color: var(--fc-red);
    }
  }

  .fc-daygrid-day:not(.fc-day-sun):not(.fc-day-mon):has(.japanese-holiday) {
    &::before {
      display: none;
    }
  }

  .fc-toolbar {
    &.fc-footer-toolbar {
      margin-top: 10px;
    }
  }

  .fc-toolbar-chunk:has(.fc-noteButton-button) {
    display: flex;
    align-items: center;
    column-gap: 5px;

    &::before {
      content: "";
      display: block;
      width: calc((20 / 335) * 100vw);
      max-width: 23px;
      height: auto;
      aspect-ratio: 1/1;
      background-color: var(--fc-bg-red);
    }
  }

  .fc-noteButton-button {
    position: relative;
    font-size: 10px;
    font-weight: 700;
    font-family: sans-serif;
    pointer-events: none;
    box-shadow: none;
    cursor: none;

    &:focus {
      pointer-events: none;
      box-shadow: none;
      cursor: none;
    }
  }

  // .fc-prevMonth-button,
  // .fc-nextMonth-button,
  // .fc-shopNameButton-button,
  // .fc-noteButton-button {
  // }
}
// .fc

.fc-direction-ltr,
.fc-direction-rtl {
  .fc-daygrid-event {
    &.fc-event-start,
    &.fc-event-end {
      margin: 0;
      border: none;
    }
  }
}

.c-calendar {
  position: relative;
  padding: 10px;
  max-width: 800px;
  color: var(--calendar-shop-color);
  background-color: var(--fc-bg-white);

  @media (min-width: 840px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 840px) {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  &-item {
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;

    @media (min-width: 840px) {
      margin-right: 0;
      margin-left: 0;
      max-width: inherit;
    }

    + .c-calendar-item {
      margin-top: 40px;

      @media (min-width: 840px) {
        margin-top: 0;
      }
    }
  }

  &-shop-type {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    font-family: var(--calendar-shop-font-family);
    font-size: 18px;
    font-weight: 700;
    background-color: var(--calendar-shop-bgcolor);

    &::first-letter {
      font-size: 24px;
    }
  }

  &-header {
    margin-top: 10px;
    position: relative;
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: space-between;
    align-items: end;
    // align-items: center;
    font-family: var(--calendar-font-family-base);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    // @media (min-width: 840px) {
    //   margin-top: 10px;
    // }

    &-month {
      text-align: center;

      &--current {
        margin: auto;
        padding-bottom: 4px;
        // position: absolute;
        // top: 0;
        // // bottom: 0;
        // left: 0;
        // right: 0;
        width: fit-content;
        height: fit-content;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        span {
          &:nth-child(2) {
            font-family: sans-serif;
            font-size: 30px;
          }
        }
      }
    }
    // &-month

    &-btn {
      font-family: sans-serif;
      // font-family: var(--calendar-font-family-base);
      font-size: 22px;
      // font-size: 14px;
      // font-size: 16px;
      line-height: calc(24px + 4px);
      // line-height: 24px;
      padding: 0;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      // outline: none;
      appearance: none;

      @media (min-width: 840px) {
        font-size: 24px;
        // font-size: 16px;
      }

      &:active {
        background-color: var(--calendar-button-active-bgcolor);
      }
    }

    // &-prev-btn,
    // &-next-btn {
    // }

    &-prev-btn {
      text-align: left;
      margin-right: auto;
      padding-right: 1rem;
    }

    &-next-btn {
      text-align: right;
      margin-left: auto;
      padding-left: 1rem;

      &.is-none {
        display: none;
      }
    }
  }
  // &-header

  &-icon {
    position: relative;
    display: block;
    margin-right: 0;
    margin-left: auto;
    // padding-top: 14px;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    transition: none;
    // transform-origin: center 60%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 12px;
      width: 11px;
      height: 2px;
      background-color: var(--calendar-shop-color);
    }

    &::before {
      left: 0;
      transform: rotate(45deg);
    }

    &::after {
      right: 0;
      transform: rotate(-45deg);
    }

    &--prev {
      transform: rotate(90deg);
    }

    &--next {
      transform: rotate(-90deg);
    }
  }
  // &-icon
}
// .c-calendar
